
  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */

/* body */
body{
    line-height: 1.5;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
*,
*::before,*::after{
        box-sizing: border-box;
}
/* container */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
img{
    width: 100%;
}

/* header */


.header{
    background-color: #5385c1;
    padding: 10px 0;
}
.brand {
    float: left;
    text-decoration: none;
   
}
.brand {
    color: #fff;
    font-size: 52px;
    vertical-align: middle;
    display:inline-block;
}
.nav{
    float: right;
   
}
.nav a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    vertical-align: bottom;

}
.brand,.nav{
   vertical-align: bottom;
}
/* feature */
h2{
    font-size: 25px;
}
p{
    font-size: 18px;
    line-height: 30px;
}
.feature{
    width: 520px;
    height: 100%;
    margin-top: 40px;
}
.section1{
    display: flex;
    justify-content: space-between;
}
/* gallery section */
.image{
    width: 330px;
    -o-object-fit: cover;
    object-fit: cover;
}
.section2{
    display: flex;
    margin-top: 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.image img{
    height: 350px;
}
/* footer */
footer{
    background-color:#5385c1 ;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}
.footer-anchor{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffff;
    text-decoration: none;
}